<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Item</title>
    
</head>
<body>
    <h1>Deletar Item</h1>
    <p>Tem certeza que deseja deletar "{{ item.name }}"?</p>
    <form action="{% url 'menu_delete' item.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Deletar</button>
    </form>
    <a href="{% url 'menu_list' %}"><button>Cancelar</button></a>
</body>
</html>
