<!-- menu/templates/menu/menu_detail.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Item Detail</title>
</head>
<body>
    <h1>Item Detail</h1>
    <p>Name: {{ menu_item.name }}</p>
    <p>Description: {{ menu_item.description }}</p>
    <p>Price: {{ menu_item.price }}</p>
    <form method="post" action="{% url 'menu-detail' menu_item.id %}">
        {% csrf_token %}
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form>
</body>
</html>
